body {
    font-family: 'Poppins', sans-serif;
}

.bg-black {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table th, .table td {
    font-family: 'Poppins', sans-serif;
}

.table th:first-child,
.table td:first-child {
    max-width: 150px;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.add-art:hover {
    background-color: #0c5c37;
}
